<!DOCTYPE hmtl>
<html  lang="en" dir="ltr">
    <head >
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1">
        <title>CSCB63 Design and Analysis of Data Structures</title>
        <link rel="stylesheet" href ="static\Calendar.css" />
        <link rel="stylesheet" href="static\index.css"/>
      </head>

      <div > <!--box for the title-->
        <h1 class = title><i>CSCB63 Design and Analysis of Data Structures instructor</i><div  ><button><a href =/logout>Logout</a></button></div></h1>
    </div><!--end of box for the title-->
</html>