<!DOCTYPE hmtl>
<html  lang="en" dir="ltr">
    <head >
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1">
        <title>CSCB63 Design and Analysis of Data Structures</title>
        <link rel="stylesheet" href ="static\Assignment.css " />
        <link rel="stylesheet" href="static\index.css">
      </head>




  <body id = 'b63body'> <!--box for the entire page-->

    <div > <!--box for the title-->
        <h1 class = title><i>CSCB63 Design and Analysis of Data Structures</i></h1>
    </div><!--end of box for the title-->
    
    
   
        
    <div class ="leftside"> <!--box for the left side-->
      <div id="emblem"> 
        <img src="https://images.squarespace-cdn.com/content/v1/5ee8fb68fe42c61403d7404b/1597170393189-PCSJHCIT5I53X725R8L3/ke17ZwdGBToddI8pDm48kCVrrbX2xFid7h0pbEubsdF7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1URCaOH7mMJjmLWicl2lKuFaFUfduCYe4FMFuveNlgm9OH3bqxw7fF48mhrq5Ulr0Hg/utsc+logo+off+white.png"> 
      </div>
      
      <br>
       
      <ul class = 'links' >
        <h3>
        <li ><a href = index.html > Home </a></li>

        <li ><a href = lectures.html > Lectures </a></li>

        <li ><a href = zoomrecordings.html > Recordings </a></li>

        <li ><a href = "https://piazza.com/account/login" target="blank"> Piazza </a></li>

        <li ><a href = "https://markus.utsc.utoronto.ca/cscb63w21" target="blank">Markus </a> </li>

        <li > <a href = Assignments.html>Assignments </a></li>

        <li > <a href = "pdf files\syllabus.pdf" target="blank">Syllabus </a></li>

        <li > <a href = Labs.html> Labs </a></li>

        <li > <a href = Calendar.html>Calendar </a></li>

        <li ><a href = links.html > Links </a></li>

        <li class = 'afeed'> <a href = courseteam.html>Course Team </a></li>

        <li class = 'afeed'> <a href = AnonymousFeedback.html>Anonymous Feedback </a></li>
        
        </h3>
      </ul>                   
    </div> <!--end of the left side box-->



    <div class = middle> <!--start of the class description box-->
          <div> <h2 class = "maintitle"> <b>Assignments</b></h2>  </div>
          
          <p> There  are  three  assignments.   You  may  be  asked  to  work  in  pairs 
             on  some  of  these  assignments.   Please  checkthe  assignment  handout  for  more <br>
             details  on whether  working  in  pairs  is  permitted  or  not;  other  details  such  as the exact due date will 
             also be mentioned on the assignment handout.<br> 
             <br>
             <b>DO NOT EMAIL YOUR ASSIGNMENT SUBMISSIONS TO  US!</b><br> 
             <br> 
             We  will use <a class=  'links' href = https://www.gradescope.com target="blank">  GRADESCOPE</a> for  the  submission  of  all  assignments.   A  <b>STRICT</b>  silent  policy takes effect 12 hours 
             before an assignment is due.<br> 
             This means that the teaching staff will answer noquestions about the 
             assignment.  We will follow the due dates mentioned in the course syllabus.<br> 
             However, if the duedates on the assignment handout differ from this course syllabus handout, the assignment handout’s due dates
             willsupersede.</p><br>

          <div> <!--COURSE DESCRIPTION box-->
                 <b><i>ASSIGNMENT 1</i> <hr> </b>
                 <b class = 'assign'>To be submitted to gradescope. Due Date: TBA</b><br>
                 Assignment 1 Documents: <a class=  'links' href = "pdf files\lectures.pdf" target="blank">Assignment_1.pdf</a><br> 
                 Assignment 1 Solutions: <a class=  'links' href = "pdf files\lectures.pdf" target="blank">Assignment_1_sol.pdf</a><br> 

          </div><!--end of COURSE DESCRIPTION box-->              
          
          <br>

          <div> <!--COURSE DESCRIPTION box-->
            <b><i>ASSIGNMENT 2</i> <hr> </b>
            <b class = 'assign'>To be submitted to gradescope. Due Date: TBA</b><br>
            Assignment 2 Documents: <a class=  'links' href = "pdf files\lectures.pdf" target="blank">Assignment_2.pdf</a><br> 
            Assignment 2 Solutions: <a class=  'links' href = "pdf files\lectures.pdf" target="blank">Assignment_2_sol.pdf</a><br> 
          
            <br>
          
          <div> <!--COURSE DESCRIPTION box-->
            <b><i>ASSIGNMENT 3</i> <hr> </b>
            <b class = 'assign'>To be submitted to gradescope. Due Date: TBA</b><br>
            Assignment 3 Documents: <a class=  'links' href = "pdf files\lectures.pdf" target="blank">Assignment_3.pdf</a><br> 
            Assignment 3 Solutions: <a class=  'links' href = "pdf files\lectures.pdf" target="blank">Assignment_3_sol.pdf</a><br> 

     </div><!--end of COURSE DESCRIPTION box-->    

            

    </div ><!--end of the class description box -->
  

  </div><!--end of box for entire page-->

  <div class="xfooter"><!--start of footer box -->

  </body><!--end of footer box -->
 
  <footer>
    <hr>
    <b>University of Toronto Scarborough</b>  1265 Military Trail, Toronto, ON. Canada, M1C 1A4, Phone: (416) 287 8872
    <hr>
    <a class=  'links' href = https://www.utsc.utoronto.ca/cms/ target="blank">  Faculty of Computer Sciences</a> <br>
    <br>
    Website design by Joshua Fernades and Sarathy Kanathasan &#169
  </footer>


</html>

    