<!DOCTYPE hmtl>
<html>
    <head >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta charset="utf-8">
          <title>LOGIN</title>
          <link rel="stylesheet" href ="static\create_acc.css" />
    </head>

    <body>
    <div class="bg">

    
    <div class = container> <!--Start of container box-->

        <div class = loginbox> <!--Start of login box-->
            
            <div class = topbox >
                <div id="emblem"> 
                    <img src="https://images.squarespace-cdn.com/content/v1/5ee8fb68fe42c61403d7404b/1597170393189-PCSJHCIT5I53X725R8L3/ke17ZwdGBToddI8pDm48kCVrrbX2xFid7h0pbEubsdF7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1URCaOH7mMJjmLWicl2lKuFaFUfduCYe4FMFuveNlgm9OH3bqxw7fF48mhrq5Ulr0Hg/utsc+logo+off+white.png"> 
                </div>
                <h3>CSCB20 Login</h3>
                <p>Please Input your login information to access the CSCB20 website</p>
                <br>
            </div>

            <form method="post"><!--Start of login form-->
                <br>
                <p>Username:<input type=text name=username placeholder="Enter Username">
                <p>Password:<input type=password name=password placeholder="Enter Password">

                <p class = buttom><input type=submit value=Submit> 
                <p><a href= /create_acc>Create an Account</a></p>    
                <br>
            </form> <!--End of login form-->
            
            

        </div>    <!--End of login box-->
    </div> <!--End of container box-->

    </div>

    </body>
</html>