<!DOCTYPE hmtl>
<html  lang="en" dir="ltr">
    <head >
        <meta charset="utf-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1">
        <title>CSCB63 Design and Analysis of Data Structures</title>
        <link rel="stylesheet" href ="static\index.css" type="text/css" />
      </head>




  <body id = 'b63body'> <!--box for the entire page-->

    <div > <!--box for the title-->
        <h1 class = title><i>CSCB63 Design and Analysis of Data Structures</i> <div >  Welcome {{ welcome_name }} <br></div> </h1>
        
    </div><!--end of box for the title-->
    
    
   
        
    <div class ="leftside"> <!--box for the left side-->
      <div id="emblem"> 
        <img src="https://images.squarespace-cdn.com/content/v1/5ee8fb68fe42c61403d7404b/1597170393189-PCSJHCIT5I53X725R8L3/ke17ZwdGBToddI8pDm48kCVrrbX2xFid7h0pbEubsdF7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1URCaOH7mMJjmLWicl2lKuFaFUfduCYe4FMFuveNlgm9OH3bqxw7fF48mhrq5Ulr0Hg/utsc+logo+off+white.png"> 
      </div>
      
      <br>
       
            <ul class = 'links' >
              <h3>               
              <li ><a href = /index class="active" > Home </a></li>

              <li ><a  href = /lectures > Lectures </a></li>

              <li ><a  href = /zoomrecordings > Recordings </a></li>

              <li ><a href = "https://piazza.com/account/login" target="blank"> Piazza </a></li>

              <li ><a href = "https://markus.utsc.utoronto.ca/cscb63w21" target="blank">Go DMarkus </a> </li>

              <li > <a href = /Assignments>Assignments </a></li>

              <li ><a href = /Marks > Marks </a></li>

              <li > <a href = "static\syllabus.pdf" target="blank">Syllabus </a></li>

              <li > <a href = "https://www.cp24.com/?cache=yes%3FclipId%3D68597%2F7.337842" target="blank">News </a></li>

              <li > <a href = /Labs> Labs </a></li>

              <li > <a href = /Calendar>Calendar </a></li>

              <li ><a href = /links > Links </a></li>              

              <li class = a feed> <a href = /courseteam>Course Team </a></li>

              <li class = a feed> <a href = /AnonymousFeedback>Anonymous Feedback </a></li>

              <li><a href =/logout>Logout</a></li>

              
              
              </h3>
            </ul>            
    </div> <!--end of the left side box-->


    <div class = middle> <!--start of the class description box-->
     
      
          <div> <h2 class = "maintitle"> <b>Essentials</b></h2>  </div>
           
          <div> <!--COURSE DESCRIPTION box-->
                 <b><i>Course Description</i> <hr> </b>
                 <p class = 'cdesc'> Design, analysis, implementation and comparison of efficient data 
                   structures for 
                   common abstract data types. Priority queues: heaps and mergeable heaps.<br> 
                   Dictionaries: balanced binary search trees, B-trees, hashing. Amortization: data structures for managing dynamic tables and disjoint sets. <br>
                   Data structures for representing graphs. 
                   Graph searches.</p><br>

                  <i><b class = 'titlespace'>Exclusion</b> CSC263H, CSC265H, (CSCC78H)</i><br>
                  <i><b class = 'titlespace'>Prerequisite</b> CSCB36H or (CSCB38H) & [CGPA 2.75 or enrolment in a CSC subject POSt]</i> <br>
   
            </div><!--end of COURSE DESCRIPTION box-->              
            <br>
            <div >  <b><i class = "instructor">Instructor</i></b><hr></div>
             
            <div><!--instructor info box-->
              <b>Dr. Anna Bretscher</b><br>
              Email:<a href = "mailto:anna.bretscher@utoronto.ca" target="blank"> anna.bretscher@utoronto.ca</a><br> <!--try to open in mail -->
              Office: IC 493 <br>
            </div><!--end of istructor info box-->
            <br>
             <div class = "timetable"><i><b>Timetable</b></i> <hr> </div> <!--time table title in its own box-->   
            
            <div> <!--lectures and time table box-->
              <b class = 'lectures'>Lectures</b> <br>
              <i>Wednesdays 3-4pm <a  class='links' href = "https://zoom.us/" target="blank"   >Zoom Link </a>, Thursdays 9:10-11:00 <a href = "https://zoom.us/" target="blank" class = 'links'>Zoom Link </a></i><br>
              <b class = 'offhrs'> Office Hours</b><br>
              <i>Usually Mondays 11:00-12:30, Friday 10:40-11:30. Please see the calendar for weekly changes.</i><br>
            </div> <!--end of lecture and time table box-->

         

    </div ><!--end of the class description box -->
  
    </div><!--end of box for entire page-->
             
  

  </body><!--end body -->
  

  <div class="xfooter"><!--start of footer box -->
  <footer>
    <hr>
    <b>University of Toronto Scarborough</b>  1265 Military Trail, Toronto, ON. Canada, M1C 1A4, Phone: (416) 287 8872
    <hr>
    <a class=  'links' href = https://www.utsc.utoronto.ca/cms/ target="blank">  Faculty of Computer Sciences</a> <br>
    <br>
    Website design by Joshua Fernades and Sarathy Kanathasan &#169
  </footer>
  </div>


</html>

    
