<!DOCTYPE hmtl>
<html  lang="en" dir="ltr">
    <head >
        <meta charset="utf-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1">
        <title>CSCB63 Lectures</title>
        <link rel="stylesheet" href ="static\index.css" />
        <link rel="stylesheet" href="static\lectures.css">
      </head>

      <body id = 'b63body'> <!--box for the entire page-->

        <div > <!--box for the title-->
            <h1 class = title><i>CSCB63 Design and Analysis of Data Structures</i><div  ></div></h1>
           
        </div><!--end of box for the title-->
        
        
       
            
        <div class ="leftside"> <!--box for the left side-->
          <div id="emblem"> 
            <img src="https://images.squarespace-cdn.com/content/v1/5ee8fb68fe42c61403d7404b/1597170393189-PCSJHCIT5I53X725R8L3/ke17ZwdGBToddI8pDm48kCVrrbX2xFid7h0pbEubsdF7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1URCaOH7mMJjmLWicl2lKuFaFUfduCYe4FMFuveNlgm9OH3bqxw7fF48mhrq5Ulr0Hg/utsc+logo+off+white.png"> 
          </div>
          
          <br>
           
          <ul class = 'links' >
            <h3>

            
                
            <li ><a href = /index > Home </a></li>

            <li ><a  href = /lectures class="active"> Lectures </a></li>

            <li ><a  href = /zoomrecordings > Recordings </a></li>

            <li ><a href = "https://piazza.com/account/login" target="blank"> Piazza </a></li>

            <li ><a href = "https://markus.utsc.utoronto.ca/cscb63w21" target="blank">Markus </a> </li>

            <li > <a href = /Assignments>Assignments </a></li>
            
            <li ><a href = /Marks> Marks </a></li>

            <li><a href = /remark> Remark Requests </a></li>

            <li > <a href = "static\syllabus.pdf" target="blank">Syllabus </a></li>

            <li > <a href = "https://www.cp24.com/?cache=yes%3FclipId%3D68597%2F7.337842" target="blank">News </a></li>

            <li > <a href = /Labs> Labs </a></li>

            <li > <a href = /Calendar>Calendar </a></li>

            <li ><a href = /links > Links </a></li>

            <li class = a feed> <a href = /courseteam>Course Team </a></li>

            <li class = a feed> <a href = /AnonymousFeedback>Anonymous Feedback </a></li>

            <li><a href =/logout class = "log">Logout</a></li>
            
            </h3>
          </ul>               
        </div> <!--end of the left side box-->    
    
        <div class = "lecturelinks"> <!--start of the class description box-->
            <div> <h2  > <b>Lectures</b></h2>  </div>
            <div>Go to the <a href =zoomrecordings.html> Recordings </a> Tab to view the class recordings</div>
            <ul>
                <li class = "vert"><b>Week 1 </b> - <a href = "static\lectures.pdf" target="blank"> Lecture 1</a> - Intro, Worst Case Complexity<br> 
                    <b>Wed Pre-Lecture Reading/Exercise</b> - None<br>
                    <b>Wednesday Slides/Video</b> - <a href = "static\lectures.pdf"  target="blank"> Intro Slides</a><br>
                    <b>Thursday Pre-Lecture Reading/Exercise</b> - CLRS 3.1 (not including little "oh") or watch: <a href = "https://www.youtube.com/watch?v=__vX2sjlpXU" target="blank" >Big O Notation</a> AND <a href = "https://www.youtube.com/watch?v=JU767SDMDvA" target = "blank">Insertion Sort Video</a><br>
                    <b>Thursday Slides/Video</b> - <a href ="static\lectures.pdf" target="blank">Worksheet</a>, <a href="static\lectures.pdf" target="blank">Slides PDF</a>
                </li> <hr>
                <li class = "vert"><b>Week 2</b> - <a href = "static\lectures.pdf" target="blank">  Lecture 2</a> Balanced Trees(AVL)<br>
                     <b>Wed Pre-Lecture Reading/Exercise</b> - None<br>
                     <b>Wednesday Slides/Video</b> - <a href = "static\lectures.pdf" target="blank"> Intro Slides</a><br>
                     <b>Thursday Pre-Lecture Reading/Exercise</b> - CLRS 3.1 (not including little "oh") or watch: <a href = "https://www.cs.usfca.edu/~galles/visualization/BST.html" target="blank" >Refresh your understanding of binary search trees</a> AND <a href = "https://www.youtube.com/watch?v=JU767SDMDvA" target = "blank">Insertion Sort Video</a><br>
                     <b>Thursday Slides/Video</b> - <a href ="static\lectures.pdf" target="blank">Worksheet</a>, <a href="static\lectures.pdf" target="blank">Slides PDF</a> </li><hr>



                <li class = "vert"><b>Week 3</b> - <a href = "static\lectures.pdf"target="blank">  Lecture 3</a> AVL Trees Height, and Augment Interval Trees <br>
                    <b>Wed Pre-Lecture Reading/Exercise</b> - None<br>
                     <b>Wednesday Slides/Video</b> - <a href = "static\lectures.pdf"target="blank"> AVL Trees Augmenting</a>, <a href = "static\lectures.pdf" target="blank"> Worksheet</a> <a href = "static\lectures.pdf" target="blank"> In Class Worksheet</a><br>
                     <b>Thursday Pre-Lecture Reading/Exercise</b> - None <br>
                     <b>Thursday Slides/Video</b> - <a href ="static\lectures.pdf" target="blank">Interval Trees Sol</a>, <a href="static\lectures.pdf" target="blank">Interval Trees in Class</a>, <a href="static\lectures.pdf" target="blank">Slides PDF</a>
                </li><hr>





                <li class = "vert"><b>Week 4</b> - <a href = "static\lectures.pdf"target="blank">  Lecture 4</a> Finish Interval Trees,  Heaps and Graph Search Algotithms<br>
                    <b>Wed Pre-Lecture Reading/Exercise</b> - None<br>
                     <b>Wednesday Slides/Video</b> - <a href = "static\lectures.pdf" target="blank"> Intro Slides</a><br>
                     <b>Thursday Pre-Lecture Reading/Exercise</b> - Chapter 6.1-6.4 <br>
                     <b>Thursday Slides/Video</b> - <a href ="static\lectures.pdf" target="blank" >Heaps Inclass</a>, <a href="static\lectures.pdf" target="blank">Heap Building Example</a>
                </li><hr>






                <li class = "vert"><b>Week 5</b> - <a href = "static\lectures.pdf" target="blank">  Lecture 5</a> Graph Searches and Min Spanning Titles<br>
                    <b>Wed Pre-Lecture Reading/Exercise</b> - TERM TEST Wed<br>
                     <b>Wednesday Slides/Video</b> - <a href = "static\lectures.pdf" target="blank"> None</a><br>
                     <b>Thursday Pre-Lecture Reading/Exercise</b> - If you have not had your tutorial, read the graph handout on the tutorials page.  <br>
                     <b>Thursday Slides/Video</b> - <a href ="static\lectures.pdf" target="blank">Graph Searches Slides</a>, <a href="static\lectures.pdf" target="blank">Searches Worksheet</a>, <a href="static\lectures.pdf" target="blank">MST Slides</a>, <a href="static\lectures.pdf" target="blank">MST Worksheet</a>, <a href="static\lectures.pdf"target="blank">MST Worksheet Sol</a>, <a href="static\lectures.pdf"target="blank">Inclass Graph Notes</a>, <a href="static\lectures.pdf" target="blank">MST In Class</a>
                </li><hr>





                <li class = "vert"><b>Week 6</b> - <a href = "static\lectures.pdf"target="blank">  Lecture 6</a> Proof of Prims, Dijkstra's Algorithm,Strongly Connected Components<br>
                    <b>Wed Pre-Lecture Reading/Exercise</b> - Ch 24.3, Practice Prims algorithm<br>
                     <b>Wednesday Slides/Video</b> - <a href = "static\lectures.pdf"  target="blank"> Intro Slides</a>, <a href = "static\lectures.pdf" target="blank"> MST Inclass</a>, <a href = "static\lectures.pdf" target="blank"> Dijkstra</a><br>
                     <b>Thursday Pre-Lecture Reading/Exercise</b> - 22.5, Review DFS - make sure you understand it  <br>
                     <b>Thursday Slides/Video</b> - <a href ="static\lectures.pdf"target="blank">Strongly Connected Components Slides</a>, <a href="static\lectures.pdf" target="blank">SCC Examples</a>
                </li><hr>






                <li class = "vert"><b>Week 7</b> - <a href = lectures.pdf target="blank">  Lecture 7</a> Amortized Analysis<br>
                    <b>Wed Pre-Lecture Reading/Exercise</b> - Ch. 17.4, Ch. 21<br>
                     <b>Wednesday Slides/Video</b> - <a href ="static\lectures.pdf" target="blank">Amortized Lec Slides</a>, <a href="static\lectures.pdf" target="blank">Amortized Lecture Slides Inclass</a><br>
                     <b>Thursday Pre-Lecture Reading/Exercise</b> - None <br>
                     <b>Thursday Slides/Video</b> - <a href ="static\lectures.pdf" target="blank">Potential Lecute Slides</a>, <a href="static\lectures.pdf" target="blank">Potential Lecute Slides Inclass</a>
                 </li><hr>





                <li class = "vert"><b>Week 8</b>- <a href = lectures.pdf target="blank">  Lecture 8</a> Disjoint Sets, Fibonacci Heaps<br>
                    <b>Wed Pre-Lecture Reading/Exercise</b> - Ch 20.<br>
                     <b>Wednesday Slides/Video</b> - <a href ="static\lectures.pdf"target="blank"> Disjoint Sets</a><br>
                     <b>Thursday Pre-Lecture Reading/Exercise</b> - None <br>
                     <b>Thursday Slides/Video</b> - <a href ="static\lectures.pdf" target="blank">Fibonacci Heaps Annotated</a>, <a href="static\lectures.pdf" target="blank">Fibonacci Heaps Complexity Annotated</a>
                </li>

            </ul>
            <div class = empty>
    
            </div>
            
         
               
              
  
      </div ><!--end of the class description box -->  
  
    








</body><!--end of body -->

 <div class="xfooter"> <!--start of footer box -->
    
    <footer>
      <hr>
      <b>University of Toronto Scarborough</b>  1265 Military Trail, Toronto, ON. Canada, M1C 1A4, Phone: (416) 287 8872
      <hr>
      <a class=  'links' href = https://www.utsc.utoronto.ca/cms/ target="blank">  Faculty of Computer Sciences</a> <br>
      <br>
      Website design by Joshua Fernades and Sarathy Kanathasan &#169
    </footer> 
    </div>
    
  
  
  </html>
